{% extends 'layout.html' %}
{% block content %}
    <br>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                {% if current_user.is_authenticated %}
                    <div class="col-sm-3"></div>
                {% else %}
                    <div class="col-sm-2"></div>
                {% endif %}
                <div class="col-sm-6">
                    <div id="chatbox">
                        <!-- <p class="botText"><span>Hi!</span></p> -->
                    </div>
                    <div id="userInput">
                        <input id="textInput" class="form-control" type="text" name="msg" placeholder="Type your message here">
                        <input id="buttonInput" class="btn btn-info form-control" type="submit" value="Send">
                    </div>
                    <br>
                    {% if not current_user.is_authenticated %}
                        <div align="center">
                            <a href="{{ url_for('users.login') }}">Login</a> |
                            <a href="{{ url_for('users.register') }}">Register</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    <footer class="footer">
        <div class="container-fluid">
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, template made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>
    {% endif %}
    <script>
        function getResponse() {
            let userText = $('#textInput').val();
            let userHtml = `<p class="userText"><span>${userText}</span></p>`;
            $('#textInput').val('');
            $("#chatbox").append(userHtml);

            document.getElementById('userInput').scrollIntoView({
                block: 'start',
                behavior: 'smooth'
            });

            $.get("/get-response", { msg: userText }).done(function (data) {
                var botHtml = `<p class="botText"><span>${data}</span></p>`;
                $("#chatbox").append(botHtml);

                document.getElementById('userInput').scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                });
            });
        }

        $("#textInput").keypress(function(e) {
            // if the enter key is pressed
            if(e.which === 13) {
                getResponse();
            }
        });

        $("#buttonInput").click(function() {
            getResponse();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}