<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flask Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1 class="jumbotron text-center">Chatbot in Python using Flask</h1>

{% if current_user.is_authenticated %}
<div class="sidebar">
    <a href="{{ url_for('users.dashboard') }}" {% if title == 'Dashboard' %}class="active"{% endif %}>Dashboard</a>
    <a href="{{ url_for('users.train') }}" {% if title == 'Train Data' %}class="active"{% endif %}>Train Data</a>
    <a href="{{ url_for('main.index') }}" {% if title == 'Home' %}class="active"{% endif %}>Chatbot</a>
    <a href="#account">My Account (collapsible)</a>
</div>

{% endif %}

<div class="col-sm-6 offset-sm-3">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
{% block content %}{% endblock %}
</body>
</html>